<div id="search-results-div">
  <h2>Search Results</h2>
  <ul>
    <% category_members.each do |article| %>
      <li><a href="https://en.wikipedia.org/?curid=<%= article['pageid'] %>"><%= article['title'] %></a> - <%= article['readability'] %></li>
    <% end %>
  </ul>
</div>